@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Vollkorn:wght@500&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Vollkorn', serif; */
:root {
    --main: #FFFFFF;
    --second: #F2F2F2;
    --btn: #024959;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    outline: 0;
    outline-offset: 0;

    pointer-events: none;
    /* visibility: hidden; */

}

body {
    background: #08060B;
}

header {
    position: absolute;
}

ul {
    list-style: none;
}

.navbar {
    /* background-color: #19050A;
    filter: blur(50px); */
    background-image: url("./img/nav_background.png");
    padding: 15px 128px;
}

.logo {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    color: var(--second) !important;

    margin-right: 973px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: var(--main) !important;
}

.nav-item {
    margin-right: 64px;
}

.nav-item:last-child {
    margin-right: 0;
}

.hero {
    background-image: url("./img/home_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway';
    padding-top: 208px;
    padding-bottom: 221px;


    border-bottom: 8px solid transparent;
    border-image: linear-gradient(270deg, #590209 0%, rgba(38, 1, 4, 0) 91.67%);
    border-image-slice: 1;
}


.hero-text-wrap {
    margin-left: 128px;
}

.hero-title {
    font-style: normal;
    font-weight: 300;
    font-size: 144px;
    line-height: 169px;
    align-items: center;
    color: var(--main);

    margin-bottom: 32px;
}

.hero-acent {
    font-weight: 500;
}

.hero-text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: var(--main);

    margin-bottom: 96px;
}

.email-lable {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: var(--main);
    margin-bottom: 24px;
}

.form-control {
    background: rgba(89, 2, 9, 0.5);
    border-radius: 16px;
    border: none;
    padding: 18px 24px;
    margin-right: 48px;
}

.form-control:focus {
    background: rgba(89, 2, 9, 0.5);
    color: var(--main);
    border: 2px solid #024959;
}

.form-control::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    align-items: center;

    color: rgba(242, 242, 242, 0.8);
}

.form-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    padding: 14px 84px;
    color: var(--main);
    background: linear-gradient(0deg, rgba(4, 8, 13, 0.4), rgba(4, 8, 13, 0.4)), #024959;
    border-radius: 16px;
    border: none;
}

.about {
    background-image: url("./img/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway';
    font-style: normal;
    align-items: center;
    color: var(--second);
    padding: 116px 304px 109px;

    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #590209 0%, rgba(89, 2, 9, 0) 57.27%, rgba(89, 2, 9, 0) 57.27%);
    border-image-slice: 1;
}

.about-text-wrap {
    background-image: url("./img/about-img.png");
    width: 1312px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    padding: 64px 185px 374px 247px;
}

.about-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 24px;
}

.mission {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 24px;
}

.about-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
}

.products {
    font-family: 'Raleway';
    font-style: normal;
    color: var(--second);
}

.product-f {
    background-image: url("./img/information-bg1.png");
    /* background-size: 100%; */
    background-repeat: no-repeat;

    border-bottom: 4px solid transparent;
    border-image: linear-gradient(270deg, rgba(255, 0, 21, 0.5) 0%, rgba(89, 2, 9, 0) 43.65%, rgba(89, 2, 9, 0) 43.65%);
    border-image-slice: 1;
}

.product-s {
    background-image: url("./img/information-bg2.png");
    /* background-size: 100%; */
    background-repeat: no-repeat;

    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, rgba(89, 2, 9, 0.8) 0%, rgba(89, 2, 9, 0) 60.68%, rgba(89, 2, 9, 0) 60.68%);
    border-image-slice: 1;
}

.product-wrap {
    padding: 219px 302px;
}

.product-wrap-s {
    padding: 149px 304px 289px;
}

.product-img-f {
    max-width: 428px;
    margin-right: 241px;
}

.product-img-s {
    max-width: 428px;
    margin-left: 239px;
}

.product-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 26px;
}

.product-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 48px;
}

.prices {
    background-image: url("./img/prices_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Vollkorn';
    padding: 260px 304px 196px;

    font-style: normal;
    font-weight: 500;
    color: var(--second);
}

.packet {
    background: rgba(4, 8, 13, 0.6);
    box-shadow: -8px 8px 32px rgba(242, 58, 41, 0.25);
    border-radius: 32px;
    padding: 64px 71px;
}

.packet {
    text-align: center;
    margin-right: 128px;
    max-width: 352px;
}

.packet:last-child {
    margin-right: 0;
}

.packet-name {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 44px;
    display: inline-block;
}

.packet-list {
    margin-bottom: 92px;
}

.packet-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    display: inline-block;
}

.packet-item:last-child {
    margin-bottom: 0;
}

.price {
    font-size: 36px;
    line-height: 50px;
    display: inline-block;
}

.footer {
    background-image: url("./img/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: var(--second);
    padding: 7px 128px;
}

.copyright-logo {
    font-size: 36px;
    line-height: 50px;
}

.social-item {
    margin-right: 64px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-icon {
    font-size: 32px;
}

@media screen and (max-width: 1920px) {

    .logo {
        margin-right: 900px;
    }

}

@media screen and (max-width: 1912px) {

    .product-img-f,
    .product-img-s {
        max-width: 400px;
    }
}

@media screen and (max-width: 1856px) {

    .product-img-f,
    .product-img-s {
        max-width: 350px;
    }
}

@media screen and (max-width: 1850px) {

    .logo {
        margin-right: 800px;
    }

}

@media screen and (max-width: 1800px) {

    .hero-text-wrap {
        max-width: 50%;
    }

    .product-wrap {
        padding: 95px 150px;
    }

}

@media screen and (max-width: 1750px) {

    .logo {
        margin-right: 700px;
    }

}

@media screen and (max-width: 1650px) {

    .logo {
        margin-right: 600px;
    }

}

@media screen and (max-width: 1550px) {

    .logo {
        margin-right: 500px;
    }

}

@media screen and (max-width: 1500px) {

    .hero-text-wrap {
        max-width: 70%;
    }

    .product-img-f {
        max-width: 300px;
        margin-right: 100px;
    }

    .product-img-s {
        max-width: 300px;
        margin-left: 100px;
    }

}

@media screen and (max-width: 1450px) {

    .logo {
        margin-right: 400px;
    }

    .packet {
        padding: 60px 15px;
    }

}

@media screen and (max-width: 1350px) {

    .logo {
        margin-right: 300px;
    }

    .about-text-wrap {
        padding: 10px auto 247px;
    }

}

@media screen and (max-width: 1250px) {

    .logo {
        margin-right: 200px;
    }

}

@media screen and (max-width: 1200px) {

    .logo {
        margin-right: auto;
    }

    .about-text-wrap {
        padding: 10%;
    }

    .product-wrap {
        padding: 50px 100px;
    }

    .product-img-f {
        max-width: 400px;
    }

    .product-img-s {
        max-width: 400px;
        margin-left: 45%;
    }

    .product-title {
        margin-top: 30px;
    }
}


@media screen and (max-width: 1000px) {

    .hero-text-wrap {
        margin-top: 50px;
    }

    .about-text-wrap {
        padding: 10px 10% 50px;
    }

    .product-wrap {
        padding: 30px;
    }

    .packet {
        padding: 25px 15px;
    }

}

@media screen and (max-width: 900px) {
    .about-text-wrap {
        padding: 10px 40px 50px;
    }

    .prices {
        padding: 100px 10%;
    }

    .social-item {
        margin-right: 25px;
    }

    .packet:last-child {
        margin-right: 128px;
    }
}

@media screen and (max-width: 850px) {
    .about-text-wrap {
        background-image: none;
    }
}


@media screen and (max-width: 800px) {

    .logo {
        max-width: 100px;
    }

    .form-btn {
        padding: 14px 20px;
    }

    .hero {
        padding-bottom: 150px;
    }

    .footer {
        padding: 7px 10%;
    }

    .product-img-s {
        margin-left: 30%;
    }

}

@media screen and (max-width: 768px) {

    .form-btn {
        margin-top: 10px;
    }

    .packet {
        margin-right: auto;
    }

}

@media screen and (max-width: 600px) {

    .hero-title {
        font-size: 50px;
        line-height: 50px;
    }

    .hero-text-wrap {
        margin-left: 30px;
        margin-top: 75px;
    }

    .navbar {
        padding: 15px 25px;
    }

    .product-img-f {
        max-width: 300px;
        margin-right: 0;
    }

    .product-img-s {
        max-width: 300px;
        margin-left: 0;
    }

    .footer {
        padding: 7px 5%;
    }

    .packet {
        margin-top: 20px;
    }

}

@media screen and (max-width: 400px) {

    .product-img-f {
        max-width: 300px;
        margin-right: 0;
    }

    .social-item {
        margin-right: 10px;
    }

    .copyright {
        font-size: 20px;
        line-height: 30px;
    }

    .packet {
        padding: 30px 45px;
    }

}

@media screen and (max-width: 350px) {

    .product-img-f {
        max-width: 200px;
    }

    .product-img-s {
        max-width: 200px;
    }

    .product-title {
        font-size: 25px;
    }

    .about-title {
        font-size: 45px;
    }

    .mission {
        font-size: 25px;
        line-height: 35px;
    }

    .packet {
        padding: 25px 15px;
    }

    .packet-list {
        margin-bottom: 50px;
    }

}